@{
    ViewBag.Title = "Neo Home";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This index will be a testing playground for playing with GitHub in a controlled environment.</p>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">MVC Home</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sean Szpunar</h2>
        <p>
            This is the profile block for Sean Szpunar. Please use my example and replicate it within your local copy of this project. Create a "col-md-4" panel for yourself, create a new view with your first name, create a controller action to navigate to that view, and establish any buttons necessary to power navigation.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Sean", "Neo")">View Profile</a></p>
    </div>
    <div class="col-md-4">
        <h2>Andrew Delestre</h2>
        <p>This is Andrew's profile block. I'm not sure what to write so im just gonna say its 3 hours and 15 past High Noon.</p>
        <p><a class="btn btn-default" href="@Url.Action("Drew","Neo")">View Profile</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jon Colón</h2>
        <p>
            This right here is a neat little box that contains some vital and important information regarding the Developer Jon Colón. This information block goes on to state the Jon is the best at what he does and no one else can do it better than him! What is it that he does best? Jon Colón is still trying to figure that out himself.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Jon", "Neo")">View Profile</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nicholas Bonvan</h2>
        <p>
            Hi guys
            <p><a class="btn btn-primary" href="@Url.Action("Nick", "Neo")">:)</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>FirstName LastName</h2>
        <p>A small message about yourself.</p>
        <p><a class="btn btn-default" href="link to your view">View Profile</a></p>
    </div>*@
    <div class="col-md-4">
        <h2>Robert Mineroff</h2>
        <p>My name is Robert Mineroff. This is a test paragraph for a github project where we are learning how the program works.</p>
        <p><a class="btn btn-default" href="@Url.Action("Robert", "Neo")">View Profile</a></p>
    </div>
</div>